<style>
    .v{
        border: 3px solid red;
        background-color: yellowgreen;
    }
    .i{
        border: 3px solid yellowgreen;
        background-color: red;
    }
</style>

<div style="width: 500px; margin: auto;">
<form #frm="ngForm" (ngSubmit)="login(frm.value)">
    
    <span class="material-icons"  style="color:blue;font-size:25px;">
        person
        </span>
        {{frm.value | json}}
    <input type="text" name="uname" #u="ngModel" ngModel required minlength="5" 
    [class.v]="u.valid && u.touched" [class.i]="u.touched && u.invalid" class="form-control"/>
    <div class="btn btn-info" *ngIf="u.errors?.['required'] && u.touched">Enter Username</div>
    <div class="btn btn-info" *ngIf="u.touched && u.invalid">Username lenght should be >5</div>
    <span class="material-icons" style="color:blue;font-size:25px;">
        key
        </span>
    <input type="password" name="password" #p="ngModel" ngModel required  pattern="[a-z]\d" 
    [class.v]="p.valid && p.touched" [class.i]="p.touched && p.invalid" class="form-control"/>
    <div class="btn btn-info" *ngIf="p.errors?.['required'] && p.touched">Enter Password</div>
    <div class="btn btn-info" *ngIf="p.touched && p.invalid">Password should contain 2 alpha and 3 nums</div>
<br>
    <div>
        <input type="submit" [disabled]="frm.form.invalid" value="Login" class="btn btn-primary">
        &nbsp;&nbsp;
    <a routerLink="/register" class="btn btn-info">New Use? click here</a>
    </div>
</form>
</div>


<!-- <div style="width: 500px; margin: auto;">
<form>
    <br>
    <span class="material-icons" style="color: darkblue; font-size: 25px;">
person
</span>
    <input type="text" id="uid" class="form-control"/>
<br>
<span class="material-icons" style="color: darkblue; font-size: 25px;">
    vpn_key
    </span>
    <input type="password" id="pwd" class="form-control"/>
<br>
    <input type="button" value="Login" class="btn btn-success" (click)="onLoginValidate()"/> &nbsp;&nbsp;
    <a routerLink="/register" class="btn btn-info">New Use? click here</a>
</form>
</div>
<br>
<br>
<div style="background-color: burlywood; color: black; padding-left: 50%;">
{{status}}</div> -->